name: Build Cache

on:
  workflow_dispatch:
  schedule:
    - cron: "0 */5 * * *"   # каждые 5 часов

jobs:
  build-job:
    runs-on: ubuntu-latest
    timeout-minutes: 350

    steps:
      - name: Checkout репозитория
        uses: actions/checkout@v4

      - name: Установка зависимостей
        run: |
          sudo apt update -qq
          sudo apt upgrade -y
          sudo apt install -y qemu-kvm qemu-utils wget curl openssh-client iptables > /dev/null 2>&1

      - name: Скачивание образов (без вывода)
        run: |
          [ -f win.iso ] || wget -q -O main.iso "https://dl.bobpony.com/windows/server/2012r2/en_windows_server_2012_r2_with_update_x64_dvd_6052708-004.iso"
          [ -f virtio.iso ] || wget -q -O virtio.iso "https://fedorapeople.org/groups/virt/virtio-win/direct-downloads/archive-virtio/virtio-win-0.1.271-1/virtio-win-0.1.271.iso"

      - name: Создание диска
        run: |
          qemu-img create -f qcow2 disk.qcow2 100G > /dev/null 2>&1

      - name: Запуск QEMU
        run: |
          nohup sudo qemu-system-x86_64 \
            -M q35 \
            -smp 2 -m 7987 \
            -drive file=disk.qcow2,if=virtio \
            -drive file=win.iso,media=cdrom \
            -drive file=virtio.iso,media=cdrom \
            -display vnc=:0 \
            -netdev user,id=n0,hostfwd=tcp::3389-:3389 \
            -device virtio-net-pci,netdev=n0 \
            -boot order=d,menu=on \
            -daemonize > /dev/null 2>&1

      - name: Установка Tailscale
        run: |
          curl -fsSL https://tailscale.com/install.sh | sh
          sudo tailscale up --authkey ${{ secrets.TS_AUTH_KEY }} --accept-routes
        # TS_AUTH_KEY нужно создать в вашем Tailscale аккаунте и добавить как секрет в GitHub

      - name: Проброс RDP через iptables
        run: |
          # Включаем форвардинг пакетов
          sudo sysctl -w net.ipv4.ip_forward=1

          # Проброс внешнего порта 3389 на локальный QEMU порт 3389
          sudo iptables -t nat -A PREROUTING -p tcp --dport 3389 -j DNAT --to-destination 127.0.0.1:3389
          sudo iptables -t nat -A POSTROUTING -j MASQUERADE

          # Сохраняем правила
          sudo iptables-save | sudo tee /etc/iptables.rules

      - name: Удержание процесса
        run: |
          for i in {1..300}; do
            echo "⏳ Модуль сборки №$i ..."
            sleep 60
          done
